<!DOCTYPE html>
<html>
<head>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"/>

<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"
	media="screen,projection" />

<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">AGG</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Inicio</a></li>
        <li><a href="/usuario/">Área do Usuario</a></li>
        <li><a href="/pservico/">Prestador Serviço</a></li>
        
      </ul>
    </div>
  </nav>

<br>
<br>
<br>
<table class="highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>






 
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	
	
  

</body>
</html>