<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />

<meta charset="UTF-8" />
<title>Insert title here</title>
<style type="text/css">

</style>


</head>
<body>
	 <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">AGG</a>
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Inicio</a></li>
        <li><a href="badges.html">Usuário</a></li>
        <li><a href="collapsible.html">PS</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
       <li class="tab"><a href="#" data-target="slide-out" class="sidenav-trigger"></a></li>
        <li class="tab"><a href="#test1" class="sidenav-trigger"></a></li>
        
         </ul>
    </div>
   
         
  </nav>
   
   
   <div>
   <ul class=" left side-nav main-side ">
   	
   	
   	
   	<div style="background-color:#f3989b;margin-top:-30px;">
		
		<p>Nome: <span th:text="${session.usuario.nome}"></span></p>
		<p>Endereço<span th:text="${session.usuario.endereco}"></span></p>
		<p>Telefone:<span th:text="${session.usuario.telefone}"></span></p>
		<p>Cpf:<span th:text="${session.usuario.cpf}"></span></p>
		
		
		
		
		   
   	   	
   	   	
   	
   	</div>
   	
   	<li><a th:href="@{/usuario/alt}"   class="waves-effect waves-transparent btn" style="width: 200px;text-align:center">Alterar Dados</a></li>
   	
   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	
   	
   	<li><button class="waves-effect waves-transparent btn" style="width: 200px;text-align:center;">Historico</button></li>
	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>   	
   	<li><button class="waves-effect waves-transparent btn" style="width: 200px;text-align:center;">Deletar Conta</button></li>
   	 	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	   	<div class="divider"></div>
   	
   	<li><a    class="waves-effect waves-transparent btn" style="width: 200px;text-align:center" href="/">Sair</a></li>
   	
   	
   </ul>
	
  
</div>

 <div class="row" style="">
		<div class="col s12 m3 offset-m3">
			<div class="card">
				<div class="card-action teal lighten-1 white-text" style="height:70px;text-align:center;">
				<h5 style="margin-top:3px;">Buscar Serviços</h5>
				
				</div>
				
				<select >
				<option th:each="servico: ${servicos}" th:text="${servico.nome}" th:value="${servico.id}"></option>
								
				
				
				</select>
				
					
			</div>
				
				<br>
				   	<a th:href="@{/usuario/buscar}"   class="waves-effect waves-transparent btn" style="width: 200px;margin-left:120px;text-align:center">Buscar</a>
				
			
			</div>
			
			
		</div>
		
 

 

	


	
	
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	
	<script>
	 $(document).ready(function(){
		    $('select').formSelect();
		    $.ajax({
		    	url:"http://localhost:8080/usuario/menu",
		    	method: GET}).then(function(data){
		    		$('.nome-nome').append(data.nome);
		    		
		    	});
		  });
  </script>
	
	
</body>
</html>